<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021715328717-dui571aqo82eg920pt1g0n4j506hta5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021715328717-dui571aqo82eg920pt1g0n4j506hta5g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1021715328717-ii3ick61i9c8jf0t8h58bnhn1bh3kppu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOeaYzdEzPpXN3GdLXu8FoVIwyvPxL3ds</string>
	<key>GCM_SENDER_ID</key>
	<string>1021715328717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erick.infinito</string>
	<key>PROJECT_ID</key>
	<string>infinito-8c4e2</string>
	<key>STORAGE_BUCKET</key>
	<string>infinito-8c4e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021715328717:ios:3444b99521fcb645478384</string>
	<key>DATABASE_URL</key>
	<string>https://infinito-8c4e2.firebaseio.com</string>
</dict>
</plist>